<div class="tabs">

    <a routerLink='bookmarks' routerLinkActive="selected" class="tab bookmarks-tab">
        <div class="tab-title">
        <mat-icon> bookmarks</mat-icon>

        </div>
    </a>
    <a routerLink='todos' routerLinkActive="selected"  class="tab todo-tab ">
        <div class="tab-title">
        <mat-icon> check</mat-icon>

        </div>
    </a>
    <a routerLink='notes' routerLinkActive="selected" class="tab notes-tab">
        <div class="tab-title">
        <mat-icon> notes</mat-icon>

        </div>
    </a>
</div>
